.App {
  font-family: monospace !important;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.calendar-options {
  padding: 20px;
/*   background-color: #0ca2f5; */
}

.calendar-options ::-webkit-inner-spin-button {
  display: none;
 }

 .calendar-options #date-input {
    background-color: initial;
    font-weight: 800;
    padding: 10px;
    font-size: 16px;
    border: 0;
/*     border-color: white;
    color: white; */
 }

 .calendar-year-month {
   padding: 10px;
   display: flex;
   margin: auto;
   justify-content: center;
 }

 .calendar-options .calendar-year-month > input, select {
    font-weight: 900;
    font-family: monospace !important;
    font-size: 20px !important;
    width: 150px;
    background-color: initial;
    padding: 10px;
    font-size: 16px;
    border: 0px;
    border-bottom: 2px;
/*     border-color: white;
    color: white; */
}

.calendar-options .calendar-year-month > ::placeholder {
  color: black;
}

.calendar-options .calendar-year-month > input {
  width: 80px;
  text-align: right;
}

.calendar {
  margin: auto;
  font-size: 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.week { 
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.header div {
  height: auto !important;

}

.week div {
  width: 50px;
  height: 50px;
  padding: 20px;
}

.week .not-in-this-month {
  background-color: gray;
  opacity: 0.6;
  color: white
}

.week .sunday {
  color: crimson;
  
}

.week div .calendar-day-number {
  padding: 0
}

.week .holiday-marker {
  padding: 0;
  background-color: green;
  height: 5px;
  width: 100%;
}